@font-face {
	font-family: LatoHeavy;
	src: url(../fonts/LatoHeavy.ttf);
}
@font-face {
	font-family:Latolight ;
	src: url(../fonts/Latolight.ttf);
}
@font-face {
	font-family: DolceVita;
	src: url(../fonts/DolceVita.ttf);
}
@font-face {
	font-family: Neoteric-Bold;
	src: url(../fonts/Neoteric-Bold.ttf);
}
body{
	font-family: 'LatoHeavy';
}