#aboutme{
	padding: 100px 0;
	.new-hr{
    background: url('../img/resources/diagonal.png');
    color: transparent;
    border: 0px solid transparent;
    clear: both;
	}
	.img-about{
		margin-top: 15%;
	}
	.img-me{
		border-radius: 100%;
    	width: 250px;
    	margin: 1% 0;
	}
	
}