footer {
    padding: 25px 0;
    text-align: center;
    background-image: url('');
    .copy {
       line-height: 40px;
       font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
       text-transform: none;
       color:white;
    }
}